@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap') layer(base);
@import 'tailwindcss';
@import './cards.css' layer(base);

@layer base {
  :root {
    --r-green: 160deg 100% 37%;
  }
}

*,
*::before,
*::after {
  @apply relative;
}

body {
  @apply bg-slate-700 leading-relaxed text-white transition-colors duration-500 lg:place-items-center bg-no-repeat bg-fixed bg-cover py-16;

  background-image: url('@/assets/images/background.jpg');
  font-family: 'Bebas Neue', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  @apply mx-auto max-w-[1280px] font-normal px-16;
}

input {
  @apply bg-green-500/30;
}

h1 {
  @apply text-5xl;
}

h2 {
  @apply text-3xl pb-2;
  text-shadow: 1px 1px black;
}

/* a,
.green {
  @apply text-primary transition-colors;
}

nav a:first-of-type {
  @apply border-0;
}

@media (hover: hover) {
  a:hover {
    @apply bg-primary/20;
  }
} */
