@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap') layer(base);
@import 'tailwindcss';
@import './cards.css' layer(base);

:root {
  --r-green: hsl(160 100% 37%);
}

@theme inline {
  --color-primary: var(--r-green);
  --background-image-body: url('@/assets/images/background.jpg');
  --font-sans:
    'Bebas Neue', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

*,
*::before,
*::after {
  @apply relative;
}

body {
  @apply bg-body bg-cover bg-fixed bg-center bg-no-repeat py-16 leading-relaxed text-white transition-colors duration-500 lg:place-items-center;
}

#app {
  @apply mx-auto max-w-[1280px] px-16 font-normal;
}

input {
  @apply bg-green-500/30;
}

h1 {
  @apply text-5xl;
}

h2 {
  @apply pb-2 text-3xl text-shadow-[1px_1px_10px_black];
}
